<h1>Person information</h1>
<p>
    First Name: @ViewBag.fName <br />
    Last Name: @ViewBag.lName <br />
    Age: @ViewBag.age <br />
    Email Address: @ViewBag.email <br />
    Password: @ViewBag.password <br />
    Description: @ViewBag.description <br />
</p>